<div class="tw-flex tw-flex-wrap tw-h-screen tw-items-center tw-content-center tw-text-grey-dark tw-text-4xl">
  <div class="w-full lg:tw-w-3/4 tw-mx-auto tw-text-center">
      <h3 class="tw-text-5xl tw-pb-16 tw-text-grey-dark">
        Cuenta activada
      </h3>
     <div class="">
      <%= link_to 'Iniciar sesión', sign_in_path , class: "tw-rounded tw-bg-blue hover:tw-bg-blue-dark tw-no-underline tw-text-white tw-font-bold tw-py-4 tw-px-6 tw-rounded" %>
     </div>

     <div class="tw-pt-24 tw-px-32  ">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
     </div>
    
  </div>
</div>