<div class="">
  <div class="">
      <h3 class="">
        Cuenta activada
      </h3>
     <div class="">
      <%= link_to 'Iniciar sesión', sign_in_path , class: "" %>
     </div>

     <div class="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
     </div>
    
  </div>
</div>