<p>Welcome <%= @user.email %>,</p>

<p>You have successfully signed up, you're just a step behind to finish.</p>

<p>To verify your user email address and activate your user account, just follow this <a href=" <%= @url %>">link</a>.</p>

<p>Thanks for joining and have a great day!</p>
