<p>Hello <%= @user.email %>,</p>

<p>Your account has been locked due to failed login attempts activity.</p>

<p>To unlock your account now, just follow this <a href=" <%= @url %>">link</a>. Anyway it will be automatically unlocked in an hour.</p>

<p>Have a great day!</p>
